<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
<head>
  <meta charset="utf-8">
  <title>demoApp</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="css/app.css" rel="stylesheet">
</head>

<body ng-controller="HomeController">

  <div class="container">
    <div class="page-header">
      <h1>Bush-O-Rama
        <button class="pull-right btn btn-primary" ng-click="slideshow()">Begin</button>
      </h1>
    </div>
  </div>
  <div class="row">
    <blockquote class="quote-animation quotebox" ng-if="left_pane">
      <p class="lead">{{ left_pane.data.text }}<p>
      <small class="text-right">{{ left_pane.data.source }}</small>
    </blockquote>

    <blockquote class="quotebox" ng-if="right_pane">
      <p class="lead text-quote">{{ right_pane.data.text }}<p>
      <small class="text-right">{{ right_pane.data.source }}</small>
    </blockquote>
  </div>


  <!-- Google's CDN is good enoughish ;) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-animate.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <script src="js/bittorrent.js"></script>
</body>
</html>
